.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item-content {
  padding: 0;
}

.user-item-image img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item-info h2 {
  font-size: 1.5rem;
  color: red;
}

.user-item-info h3 {
  color: red;
}
